{
  "extends": "standard",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "semi": [2, "always"],
     "key-spacing": 0,
     "camelcase": 0,
     // @todo - enforce this rule
     // see - http://eslint.org/docs/rules/prefer-promise-reject-errors
     "prefer-promise-reject-errors": 1
  },
  "globals": {
    "requireFromRoot": false,
    "Log": false
  }
}
